
<!-- Button Bar -->
<table id="tblMainButtonBar">
    <tr>
        <td class="second">
            <button id="SaveButton" type="button"><img src="/Content/Images/save.png" alt="Save" />Save</button>
            <button id="CancelButton" type="button"><img src="/Content/Images/cancel.png" alt="Cancel" />Cancel</button>
            <button id="CloseButton" type="button"><img src="/Content/Images/close.png" alt="Close" />Close</button>
        </td>
    </tr>
</table>
     
