    
    <!-- Header -->
    <table>
        <tr>
            <td>
                <span style="font-weight: bold">Date:</span> 
            </td>
            <td>
                <span>@DateTime.Now.ToShortDateString()</span>
            </td>
            <td>
                <span style="font-weight: bold">Project:</span>
            </td>
            <td>
                <span>MVC Razor</span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight: bold">Developer:</span>
            </td>
            <td>
                <span>Amanda Hardeman + Van Tran</span>
            </td>
            <td>
                <span style="font-weight: bold">Language, Library:</span>
            </td>
            <td>
                <span>C#, jQuery</span>
            </td>
        </tr>
    </table>
