<div class="ui-collapsible">
    <div class="ui-collapsible-title">MVC Pages</div>
    <div class="ui-collapsible-content">
        <table>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <a href="/">Home</a>
                </td>
            </tr>
            </table>
    </div>
</div>

